body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }


#boxing{
    background-color:rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out;
    border-radius: 30px;
    width: auto;

}
#boxing:hover{
    transform: scale(1.1);
}

#navA{
    transition: all .2s ease-in-out;
}
#navA:hover{
    transform: scale(1.2);
}
.gallery-img{
    margin: 5px;
    border: 5px solid #fff;
    float: left;
    width: 400px;
    height: 300px;

}
#backTop{
  position: fixed;
  bottom: 3%;
  right: 30px;
}
